---
http_interactions:
- request:
    method: get
    uri: https://api-web.nhle.com/v1/edge/goalie-detail/8479496/now
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - https://api-web.nhle.com/v1/edge/goalie-detail/8479496/20252026/2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jan 2026 18:00:00 GMT
- request:
    method: get
    uri: https://api-web.nhle.com/v1/edge/goalie-detail/8479496/20252026/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"player":{"id":8479496,"firstName":{"default":"Pyotr"},"lastName":{"default":"Kochetkov"},"sweaterNumber":52,"shootsCatches":"L","headshot":"https://assets.nhle.com/mugs/nhl/20242025/CAR/8479496.png","team":{"id":12,"abbrev":"CAR"},"wins":18,"losses":5,"overtimeLosses":2,"goalsAgainstAvg":2.33,"savePctg":0.910,"gamesPlayed":25},"stats":{"goalsAgainstAvg":{"value":2.33,"percentile":0.9180,"leagueAvg":2.95},"gamesAbove900":{"value":0.5625,"percentile":0.6721,"leagueAvg":0.5031},"goalDifferentialPer60":{"value":1.35,"percentile":0.9672,"leagueAvg":0.11},"goalSupportAvg":{"value":3.67,"percentile":0.9508,"leagueAvg":2.95},"pointPctg":{"value":0.8438,"percentile":0.9836,"leagueAvg":0.4799}},"shotLocationSummary":[{"locationCode":"all","goalsAgainst":38,"saves":346,"savePctg":0.9010}],"shotLocationDetails":[{"area":"Low Slot","saves":104,"savePctg":0.8889,"savePctgPercentile":0.9500,"goalsAgainst":13},{"area":"High Slot","saves":85,"savePctg":0.8378,"savePctgPercentile":0.9200,"goalsAgainst":16},{"area":"L Circle","saves":42,"savePctg":0.9130,"savePctgPercentile":0.8800,"goalsAgainst":4},{"area":"R Circle","saves":38,"savePctg":0.9268,"savePctgPercentile":0.8500,"goalsAgainst":3},{"area":"L Point","saves":12,"savePctg":0.9230,"savePctgPercentile":0.7500,"goalsAgainst":1},{"area":"R Point","saves":10,"savePctg":0.9090,"savePctgPercentile":0.7200,"goalsAgainst":1},{"ar[...]
- request:
    method: get
    uri: https://api-web.nhle.com/v1/player/8479496/landing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"playerId":8479496,"firstName":{"default":"Pyotr"},"lastName":{"default":"Kochetkov"},"sweaterNumber":52,"headshot":"https://assets.nhle.com/mugs/nhl/20242025/CAR/8479496.png","teamId":12,"teamAbbrev":"CAR","position":"G","shootsCatches":"L"}'
  recorded_at: Wed, 08 Jan 2026 18:00:00 GMT
recorded_with: VCR 6.2.0
