---
http_interactions:
- request:
    method: get
    uri: https://api-web.nhle.com/v1/player/8479496/game-log/20252026/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a527ce4--gzip"
    body:
      encoding: ASCII-8BIT
      string: '{"seasonId":20252026,"gameTypeId":2,"playerStatsSeasons":[{"season":20252026,"gameTypes":[2]},{"season":20242025,"gameTypes":[2]},{"season":20232024,"gameTypes":[2,3]},{"season":20222023,"gameTypes":[2]},{"season":20212022,"gameTypes":[2,3]},{"season":20202021,"gameTypes":[2]},{"season":20192020,"gameTypes":[2,3]},{"season":20182019,"gameTypes":[2]},{"season":20172018,"gameTypes":[2]},{"season":20162017,"gameTypes":[2]}],"gameLog":[{"gameId":2025021293,"teamAbbrev":"NYI","homeRoadFlag":"H","gameDate":"2026-04-14","goals":0,"assists":0,"commonName":{"default":"Islanders"},"opponentCommonName":{"default":"Hurricanes"},"gamesStarted":1,"decision":"L","shotsAgainst":21,"goalsAgainst":2,"savePctg":0.904762,"shutouts":0,"pim":0,"toi":"56:29","opponentAbbrev":"CAR"},{"gameId":2025021173,"teamAbbrev":"NYI","homeRoadFlag":"H","gameDate":"2026-03-30","goals":0,"assists":0,"commonName":{"default":"Islanders"},"opponentCommonName":{"default":"Penguins"},"gamesStarted":0,"shotsAgainst":3,"goalsAgainst":1,"savePctg":0.666667,"shutouts":0,"pim":0,"toi":"12:06","opponentAbbrev":"PIT"},{"gameId":2025021124,"teamAbbrev":"NYI","homeRoadFlag":"H","gameDate":"2026-03-24","goals":0,"assists":0,"commonName":{"default":"Islanders"},"opponentCommonName":{"default":"Bl[...]
