---
http_interactions:
- request:
    method: get
    uri: https://api-web.nhle.com/v1/gamecenter/2023020339/landing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6568043d--gzip"
    body:
      encoding: ASCII-8BIT
      string: '{"id":2023020339,"season":20232024,"gameType":2,"gameDate":"2023-11-29","venue":{"default":"Crypto.com
        Arena"},"startTimeUTC":"2023-11-30T03:30:00Z","easternUTCOffset":"-05:00","venueUTCOffset":"-08:00","venueTimezone":"America/Los_Angeles","tvBroadcasts":[{"id":281,"market":"N","countryCode":"CA","network":"TVAS"},{"id":282,"market":"N","countryCode":"CA","network":"SN"},{"id":355,"market":"H","countryCode":"US","network":"BSW"},{"id":517,"market":"A","countryCode":"US","network":"MNMT"},{"id":520,"market":"A","countryCode":"US","network":"MNMT2"}],"gameState":"LIVE","gameScheduleState":"OK","awayTeam":{"id":15,"name":{"default":"Capitals"},"abbrev":"WSH","placeName":{"default":"Washington"},"score":0,"sog":0,"logo":"https://assets.nhle.com/logos/nhl/svg/WSH_light.svg","radioLink":"https://d2igy0yla8zi0u.cloudfront.net/wsh/20232024/wsh-radio.m3u8"},"homeTeam":{"id":26,"name":{"default":"Kings"},"abbrev":"LAK","placeName":{"default":"Los
        Angeles"},"score":0,"sog":0,"logo":"https://assets.nhle.com/logos/nhl/svg/LAK_light.svg","radioLink":"https://d2igy0yla8zi0u.cloudfront.net/lak/20232024/lak-radio.m3u8"},"shootoutInUse":true,"maxPeriods":5,"regPeriods":3,"otInUse":true,"tiesInUse":false,"clock":{"timeRemaining":"19:53","secondsRemaining":1193,"running":true,"inIntermission":false},"summary":{"linescore":{"byPeriod":[{"period":1,"periodDescriptor":{"number":1,"periodType":"REG"},"away":0,"home":0}],"totals":{"away":0,"home":0}},"scoring":[{"period":1,"periodDescriptor":{"number":1,"periodType":"REG"},"goals":[]}],"shootout":[],"threeStars":[],"teamGameStats":[{"category":"sog","awayValue":"0","homeValue":"0"},{"category":"faceoffPctg","awayValue":"0.0","homeValue":"0.0"},{"category":"powerPlay","awayValue":"0/0","homeValue":"0/0"},{"category":"pim","awayValue":"0","homeValue":"0"},{"category":"hits","awayValue":"0","homeValue":"0"},{"category":"blockedShots","awayValue":"0","homeValue":"0"},{"category":"giveaways","awayValue":"0","homeValue":"0"},{"category":"takeaways","awayValue":"0","homeValue":"0"}],"shotsByPeriod":[{"period":1,"periodDescriptor":{"number":1,"periodType":"REG"},"away":0,"home":0}],"penalties":[],"seasonSeries":[{"id":2023020339,"season":20232024,"gameType":2,"gameDate":"2023-11-29","startTimeUTC":"2023-11-30T03:30:00Z","easternUTCOffset":"-05:00","venueUTCOffset":"-08:00","tvBroadcasts":["TVAS","SN","BSW","MNMT","MNMT2"],"gameState":"LIVE","gameScheduleState":"OK","awayTeam":{"id":15,"abbrev":"WSH","logo":"https://assets.nhle.com/logos/nhl/svg/WSH_light.svg","score":0},"homeTeam":{"id":26,"abbrev":"LAK","logo":"https://assets.nhle.com/logos/nhl/svg/LAK_light.svg","score":0},"clock":{"timeRemaining":"19:53","secondsRemaining":1193,"running":true,"inIntermission":false},"period":1,"periodDescriptor":{"number":1,"periodType":"REG"},"gameOutcome":{"lastPeriodType":"REG"}},{"id":2023020618,"season":20232024,"gameType":2,"gameDate":"2024-01-07","startTimeUTC":"2024-01-07T20:00:00Z","easternUTCOffset":"-05:00","venueUTCOffset":"-05:00","gameState":"FUT","gameScheduleState":"OK","awayTeam":{"id":26,"abbrev":"LAK","logo":"https://assets.nhle.com/logos/nhl/svg/LAK_light.svg"},"homeTeam":{"id":15,"abbrev":"WSH","logo":"https://assets.nhle.com/logos/nhl/svg/WSH_light.svg"}}],"gameInfo":{"referees":[{"default":"Brian
        Pochmara"},{"default":"Jake Brenk"}],"linesmen":[{"default":"Tyson Baker"},{"default":"Ben
        O''Quinn"}],"awayTeam":{"headCoach":{"default":"Spencer Carbery"},"scratches":[{"id":8479321,"firstName":{"default":"Lucas"},"lastName":{"default":"Johansen"}},{"id":8480823,"firstName":{"default":"Alexander","cs":"Alexandr","sk":"Alexandr"},"lastName":{"default":"Alexeyev","cs":"Alexejev","sk":"Alexejev"}},{"id":8482148,"firstName":{"default":"Hendrix"},"lastName":{"default":"Lapierre"}}]},"homeTeam":{"headCoach":{"default":"Todd
        McLellan"},"scratches":[{"id":8479421,"firstName":{"default":"Jacob"},"lastName":{"default":"Moverare"}},{"id":8481481,"firstName":{"default":"Blake"},"lastName":{"default":"Lizotte"}}]}}}}'
  recorded_at: Thu, 30 Nov 2023 03:40:44 GMT
recorded_with: VCR 6.2.0
