---
http_interactions:
- request:
    method: get
    uri: https://api-web.nhle.com/v1/club-schedule/CAR/week/2023-11-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66fc3b16--gzip"
    body:
      encoding: ASCII-8BIT
      string: '{"previousStartDate":"2023-11-23","nextStartDate":"2023-12-07","calendarUrl":"https://nhl.ecal.com/hurricanes","clubTimezone":"US/Eastern","clubUTCOffset":"-04:00","games":[{"id":2023020341,"season":20232024,"gameType":2,"gameDate":"2023-11-30","venue":{"default":"PNC
        Arena"},"neutralSite":false,"startTimeUTC":"2023-12-01T00:30:00Z","easternUTCOffset":"-05:00","venueUTCOffset":"-05:00","venueTimezone":"US/Eastern","gameState":"OFF","gameScheduleState":"OK","tvBroadcasts":[{"id":329,"market":"N","countryCode":"US","network":"ESPN+","sequenceNumber":6},{"id":391,"market":"N","countryCode":"US","network":"HULU","sequenceNumber":7}],"awayTeam":{"id":2,"placeName":{"default":"New
        York"},"placeNameWithPreposition":{"default":"New York","fr":"de New York"},"abbrev":"NYI","logo":"https://assets.nhle.com/logos/nhl/svg/NYI_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/NYI_dark.svg","awaySplitSquad":false,"score":5},"homeTeam":{"id":12,"placeName":{"default":"Carolina","fr":"Caroline"},"placeNameWithPreposition":{"default":"Carolina","fr":"de
        la Caroline"},"abbrev":"CAR","logo":"https://assets.nhle.com/logos/nhl/svg/CAR_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/CAR_dark.svg","homeSplitSquad":false,"score":4},"periodDescriptor":{"number":4,"periodType":"OT","maxRegulationPeriods":3},"gameOutcome":{"lastPeriodType":"OT"},"winningGoalie":{"playerId":8473575,"firstInitial":{"default":"S."},"lastName":{"default":"Varlamov"}},"winningGoalScorer":{"playerId":8478445,"firstInitial":{"default":"M."},"lastName":{"default":"Barzal"}},"threeMinRecap":"/video/recap-islanders-at-hurricanes-11-30-23-6342131736112","gameCenterLink":"/gamecenter/nyi-vs-car/2023/11/30/2023020341"},{"id":2023020360,"season":20232024,"gameType":2,"gameDate":"2023-12-02","venue":{"default":"PNC
        Arena"},"neutralSite":false,"startTimeUTC":"2023-12-03T00:00:00Z","easternUTCOffset":"-05:00","venueUTCOffset":"-05:00","venueTimezone":"US/Eastern","gameState":"OFF","gameScheduleState":"OK","tvBroadcasts":[{"id":375,"market":"H","countryCode":"US","network":"BSSO","sequenceNumber":70},{"id":28,"market":"A","countryCode":"US","network":"MSG-B","[...]
