---
http_interactions:
- request:
    method: get
    uri: https://api-web.nhle.com/v1/score/2023-11-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6567d44f--gzip"
    body:
      encoding: ASCII-8BIT
      string: '{"prevDate":"2023-11-22","currentDate":"2023-11-23","nextDate":"2023-11-24","gameWeek":[{"date":"2023-11-20","dayAbbrev":"MON","numberOfGames":7},{"date":"2023-11-21","dayAbbrev":"TUE","numberOfGames":0},{"date":"2023-11-22","dayAbbrev":"WED","numberOfGames":14},{"date":"2023-11-23","dayAbbrev":"THU","numberOfGames":0},{"date":"2023-11-24","dayAbbrev":"FRI","numberOfGames":15},{"date":"2023-11-25","dayAbbrev":"SAT","numberOfGames":8},{"date":"2023-11-26","dayAbbrev":"SUN","numberOfGames":5}],"oddsPartners":[{"partnerId":2,"country":"SE","name":"Unibet","imageUrl":"https://assets.nhle.com/betting_partner/unibet.svg","siteUrl":"https://www.unibet.se/betting/sports/filter/ice_hockey/nhl/all/matches","bgColor":"#14805E","textColor":"#FFFFFF","accentColor":"#3AAA35"},{"partnerId":3,"country":"CZ","name":"Tipsport","imageUrl":"https://assets.nhle.com/betting_partner/tipsport.svg","siteUrl":"https://www.tipsport.cz/PartnerRedirectAction.do?pid=16961&sid=20360&bid=34954&tid=11268","bgColor":"#2497F2","textColor":"#FFFFFF","accentColor":"#FFFFFF"},{"partnerId":3,"country":"SK","name":"Tipsport","imageUrl":"https://assets.nhle.com/betting_partner/tipsport.svg","siteUrl":"https://www.tipsport.sk/PartnerRedirectAction.do?pid=6823&sid=9018&bid=23079&tid=8[...]
[...]
