---
http_interactions:
- request:
    method: get
    uri: https://api-web.nhle.com/v1/gamecenter/2025021094/play-by-play
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":2025021094,"season":20252026,"gameType":2,"limitedScoring":false,"gameDate":"2026-03-20","venue":{"default":"Scotiabank
        Arena"},"venueLocation":{"default":"Toronto"},"startTimeUTC":"2026-03-20T23:00:00Z","easternUTCOffset":"-04:00","venueUTCOffset":"-04:00","tvBroadcasts":[{"id":288,"market":"H","countryCode":"CA","network":"SNO","sequenceNumber":31},{"id":324,"market":"N","countryCode":"US","network":"NHLN","sequenceNumber":35},{"id":281,"market":"N","countryCode":"CA","network":"TVAS","sequenceNumber":120},{"id":561,"market":"A","countryCode":"US","network":"FDSNSO","sequenceNumber":202}],"gameState":"LIVE","gameScheduleState":"OK","periodDescriptor":{"number":2,"periodType":"REG","maxRegulationPeriods":3},"awayTeam":{"id":12,"commonName":{"default":"Hurricanes"},"abbrev":"CAR","score":2,"sog":24,"logo":"https://assets.nhle.com/logos/nhl/svg/CAR_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/CAR_dark.svg","radioLink":"https://d2igy0yla8zi0u.cloudfront.net/car/20252026/car-radio.m3u8","placeName":{"default":"Carolina","fr":"Caroline"},"placeNameWithPreposition":{"default":"Carolina","fr":"de
        la Caroline"}},"homeTeam":{"id":10,"commonName":{"default":"Maple Leafs"},"abbrev":"TOR","score":2,"sog":12,"logo":"https://assets.nhle.com/logos/nhl/svg/TOR_light.svg","darkLogo":"https://assets.nhle.com/logos/nhl/svg/TOR_dark.svg","radioLink":"https://d2igy0yla8zi0u.cloudfront.net/tor/20252026/tor-radio.m3u8","placeName":{"default":"Toronto"},"placeNameWithPreposition":{"default":"Toronto","fr":"de
        Toronto"}},"shootoutInUse":true,"otInUse":true,"clock":{"timeRemaining":"02:54","secondsRemaining":174,"running":true,"inIntermission":false},"situation":{"homeTeam":{"abbrev":"TOR","situationDescriptions":["PP"],"strength":5},"awayTeam":{"abbrev":"CAR","strength":4},"situationCode":"1451","timeRemaining":"01:08","secondsRemaining":68},"displayPeriod":2,"maxPeriods":5,"plays":[{"eventId":54,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"00:00","timeRemaining":"20:00","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":520,"typeDescKey":"period-start","sortOrder":9},{"eventId":53,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"00:00","timeRemaining":"20:00","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":502,"typeDescKey":"faceoff","sortOrder":11,"details":{"eventOwnerTeamId":10,"losingPlayerId":8473533,"winningPlayerId":8480870,"xCoord":0,"yCoord":0,"zoneCode":"N"}},{"eventId":64,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"00:08","timeRemaining":"19:52","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":504,"typeDescKey":"giveaway","sortOrder":12,"details":{"xCoord":-99,"yCoord":15,"zoneCode":"D","eventOwnerTeamId":12,"playerId":8480336}},{"eventId":63,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"00:08","timeRemaining":"19:52","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":503,"typeDescKey":"hit","sortOrder":13,"details":{"xCoord":-96,"yCoord":11,"zoneCode":"O","eventOwnerTeamId":10,"hittingPlayerId":8480870,"hitteePlayerId":8480336}},{"eventId":100,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"01:38","timeRemaining":"18:22","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":503,"typeDescKey":"hit","sortOrder":32,"details":{"xCoord":93,"yCoord":23,"zoneCode":"D","eventOwnerTeamId":10,"hittingPlayerId":8478443,"hitteePlayerId":8482809}},{"eventId":77,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"01:46","timeRemaining":"18:14","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":507,"typeDescKey":"missed-shot","sortOrder":33,"details":{"xCoord":44,"yCoord":-40,"zoneCode":"O","reason":"wide-right","shotType":"wrist","shootingPlayerId":8480336,"goalieInNetId":8479361,"eventOwnerTeamId":12}},{"eventId":151,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"02:09","timeRemaining":"17:51","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":508,"typeDescKey":"blocked-shot","sortOrder":43,"details":{"xCoord":78,"yCoord":-4,"zoneCode":"D","blockingPlayerId":8479442,"shootingPlayerId":8476873,"eventOwnerTeamId":12,"reason":"blocked"}},{"eventId":108,"periodDescriptor":{"number":1,"periodType":"REG","maxRegulationPeriods":3},"timeInPeriod":"02:16","timeRemaining":"17:44","situationCode":"1551","homeTeamDefendingSide":"right","typeCode":503,"typeDescKey":"hit","sortOrder":44,"details":{"xCoord":45,"yCoord":-40,"zoneCode":"O","eventOwnerTeamId":12,"hittingPlayerId":8480762,"hitteePlayerId":8475714}},{"eventId":121,"periodDescriptor":{"number":1,"period[...]
[...]
- request:
    method: get
    uri: https://api-web.nhle.com/v1/player/8480762/landing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"playerId":8480762,"isActive":true,"currentTeamId":12,"currentTeamAbbrev":"CAR","fullTeamName":{"default":"Carolina
        Hurricanes","fr":"Hurricanes de la Caroline"},"teamCommonName":{"default":"Hurricanes"},"teamPlaceNameWithPreposition":{"default":"Carolina","fr":"de
        la Caroline"},"firstName":{"default":"Eric"},"lastName":{"default":"Robinson"},"badges":[],"teamLogo":"https://assets.nhle.com/logos/nhl/svg/CAR_light.svg","sweaterNumber":50,"position":"L","headshot":"https://assets.nhle.com/mugs/nhl/20252026/CAR/8480762.png","heroImage":"https://assets.nhle.com/mugs/actionshots/1296x729/8480762.jpg","heightInInches":74,"heightInCentimeters":188,"weightInPounds":220,"weightInKilograms":100,"birthDate":"1995-06-14","birthCity":{"default":"Bellmawr"},"birthStateProvince":{"default":"New
        Jersey"},"birthCountry":"USA","shootsCatches":"L","playerSlug":"eric-robinson-8480762","inTop100AllTime":0,"inHHOF":0,"featuredStats":{"season":20252026,"regularSeason":{"subSeason":{"assists":5,"gameWinningGoals":3,"gamesPlayed":54,"goals":11,"otGoals":0,"pim":4,"plusMinus":7,"points":16,"powerPlayGoals":0,"powerPlayPoints":0,"shootingPctg":0.150685,"shorthandedGoals":0,"shorthandedPoints":1,"shots":73},"career":{"assists":74,"gameWinningGoals":12,"gamesPlayed":442,"goals":65,"otGoals":0,"pim":73,"plusMinus":9,"points":139,"powerPlayGoals":0,"powerPlayPoints":0,"shootingPctg":0.1065,"shorthandedGoals":3,"shorthandedPoints":6,"shots":610}}},"careerTotals":{"regularSeason":{"assists":74,"avgToi":"12:26","faceoffWinningPctg":0.2613,"gameWinningGoals":12,"gamesPlayed":442,"goals":65,"otGoals":0,"pim":73,"plusMinus":9,"points":139,"powerPlayGoals":0,"powerPlayPoints":0,"shootingPctg":0.1065,"shorthandedGoals":3,"shorthandedPoints":6,"shots":610},"playoffs":{"assists":2,"avgToi":"10:22","faceoffWinningPctg":0.1666,"gameWinningGoals":0,"gamesPlayed":25,"goals":2,"otGoals":0,"pim":2,"plusMinus":-3,"points":4,"powerPlayGoals":0,"powerPlayPoints":0,"shootingPctg":0.054000000000000006,"shorthandedGoals":0,"shorthandedPoints":0,"shots":37}},"shopLink":"#TODO","twitterLink":"#TODO","watchLink":"#TODO","last5Games":[{"assists":0,"gameDate":"2026-03-18","gameId":2025021078,"gameTypeId":2,"goals":0,"homeRoadFlag":"H","opponentAbbrev":"PIT","pim":0,"plusMinus":0,"points":0,"powerPlayGoals":0,"shifts":12,"shorthandedGoals":0,"shots":1,"teamAbbrev":"CAR","toi":"7:55"},{"assists":0,"gameDate":"2026-03-14","gameId":2025021049,"gameTypeId":2,"goals":0,"homeRoadFlag":"R","opponentAbbrev":"TBL","pim":0,"plusMinus":-1,"points":0,"powerPlayGoals":0,"shifts":14,"shorthandedGoals":0,"shots":0,"teamAbbrev":"CAR","toi":"10:13"},{"assists":0,"gameDate":"2026-03-12","gameId":2025021033,"gameTypeId":2,"goals":0,"homeRoadFlag":"H","opponentAbbrev":"STL","pim":0,"plusMinus":1,"points":0,"powerPlayGoals":0,"shifts":16,"shorthandedGoals":0,"shots":1,"teamAbbrev":"CAR","toi":"10:28"},{"assists":0,"gameDate":"2026-03-10","gameId":2025021018,"gameTypeId":2,"goals":0,"homeRoadFlag":"H","opponentAbbrev":"PIT","pim":0,"plusMinus":1,"points":0,"powerPlayGoals":0,"shifts":16,"shorthandedGoals":0,"shots":3,"teamAbbrev":"CAR","toi":"8:49"},{"assists":0,"gameDate":"2026-03-07","gameId":2025020998,"gameTypeId":2,"goals":0,"homeRoadFlag":"R","opponentAbbrev":"CGY","pim":0,"plusMinus":0,"points":0,"powerPlayGoals":0,"shifts":14,"shorthandedGoals":0,"shots":3,"teamAbbrev":"CAR","toi":"10:33"}],"seasonTotals":[{"assists":18,"gameTypeId":2,"gamesPlayed":37,"goals":8,"leagueAbbrev":"AYHL
        14U","pim":14,"points":26,"season":20092010,"sequence":11,"teamName":{"default":"Philadelphia
        Flyers Elite 14UAAA"}},{"assists":13,"gameTypeId":2,"gamesPlayed":20,"goals":8,"leagueAbbrev":"AYHL
        16UA","pim":4,"points":21,"season":20102011,"sequence":11,"teamName":{"default":"Virtua
        Hockey 16UA AAA"}},{"assists":10,"gameTypeId":2,"gamesPlayed":40,"goals":6,"leagueAbbrev":"T1EHL
        U16","pim":8,"points":16,"season":20112012,"sequence":103898,"teamName":{"default":"Virtua
        Hockey 16U"}},{"assists":26,"gameTypeId":2,"gamesPlayed":40[...]
