permissions:
  contents: read
name: Run MiniTest
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  run-minitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Run tests
        env: 
          RAILS_ENV: test
          TIME_ZONE: America/New_York
          NHL_TEAM_ID: "12"
          NHL_TEAM_ABBREVIATION: CAR
        run: |
          bundle exec rails test
