permissions:
  contents: read
name: Verify
on: pull_request

jobs:
  verify:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true
      - name: Install PostgreSQL dependencies
        run: |
          sudo apt-get -yqq install libpq-dev

      - name: Run Standard
        run: bundle exec standardrb
      - name: Run Bundler Audit
        run: bundle exec bundler-audit --update
